
.homeVideo {
  height: 100vh;
  position: relative;
}

.homeVideo {
  height: 100vh;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
}

.homeVideo video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.homeVideo .Bantext {
  text-align: center;
  position: absolute;
  z-index: 3;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.homeVideo .Bantext h2 {
  font-size: 5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.homeVideo .Bantext p {
  font-size: 20px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.40);
  z-index: 2;
}

.scroll a span {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  z-index: 9;
}

.scroll a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: rgb(0, 204, 96);
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* about */
.about .image {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5rem;
}
.about .image .ab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 500px;
}
.about .image .ab img {
  width: 100%;
}
.about .image .ab .ar {
  width: auto;
} 


/* amenities */
.amenities .box {
  z-index: 1; 
  position: relative; 
  width: 100%; 
  overflow: hidden; 
  -webkit-transition: 0.5s; 
  transition: 0.5s;
  margin-top: 2rem;
}
.amenities .box:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.amenities .box img {
  display: block;
  width: 100%;
}
.amenities .overlay {
  display: block; 
  position: absolute; 
  height: 100%; 
  width: 100%; 
  bottom: 0; 
  z-index: 3; 
  background: -webkit-linear-gradient(0deg, rgb(0 0 0 / 80%) 0%, rgba(89,59,116,0) 100%); 
  background: linear-gradient( 0deg, rgb(0 0 0 / 80%) 0%, rgba(89,59,116,0) 100%);
}
.amenities .heading h5 {
  font-size: 22px;
  color: rgb(255, 255, 255);
}
.amenities .heading {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 20px;
}
.amenities .box:hover .heading {
  -webkit-transform: translateY(-10px); 
  transform: translateY(-10px);
}


/* kids */
.kids {
  background-color: rgb(21, 71, 62);
  border-radius: 0 20rem 0 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.kids p {
  width: 90%;
}
.kids .flower:before, .kids .flower:after  {
  opacity: 8%;
}


/* philosophy */
.philosophy {
  background-color: rgb(241, 240, 235);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.philosophy p {
  width: 90%;
}
.philosophy h6 {
  font-weight: 600;
  font-style: italic;
}
.philosophy span {
  font-weight: 600;
}
.philosophy .flower:before {
  
}


/* vayal */
.vayal .box {
  background-image: url(../images/vayal.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  padding: 100px 50px;
  margin: auto;
}
.vayal .bx {
  background-color: #fff;
  padding: 30px;
  width: 60%;
}

/* experiences */
.experiences {
  background-image: url(../images/experiences_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


.experiences .marquee {
	overflow-x: clip;
	white-space: nowrap;
	position: relative;
	width: 100%;
}

.experiences .marquee-inner {
	display: flex;
	align-items: center;
	gap: 7vw;
	padding: 2vh 0;
	will-change: transform;
}

.experiences .marquee-inner .bx {
	transition: transform 0.5s;
	flex-shrink: 0;
}
.experiences .marquee-inner .bx img {
	height: 100%;
	width: 20vw;
}
.experiences .marquee-inner .bx:hover {
	transform: scale(1.03);
}
.experiences .marquee-inner .bx {
	position: relative;
}
.experiences .marquee-inner .bx h3 {
	position: absolute;
  bottom: -20px;
  left: 20px;
  color: #fff;
}

































